<nav>
    <img src="../../assets/images/petitPied3.png" alt="logo">
    <div class="main-navlinks">
        <button (click)="toggleNav()" class="hamburger" type="button"
        [ngClass]="{ open : navIsOpen}"
        aria-label="Toglle navigation"
        aria-expanded="false"
        >
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="navlinks-container open" [ngClass]="{ open : navIsOpen}">
            <a aria-current="page" routerLink="" routerLinkActive="active"><span>01.</span> Home</a>
            <a routerLink="about" routerLinkActive="active"><span>02.</span> About</a>
            <a routerLink="portfolio" routerLinkActive="active"><span>03.</span> Portfolio</a>
            <a routerLink="contact" routerLinkActive="active"><span>04.</span> contact</a>
            <a class="btn" href="../../assets/document/cv-jacques-caradi.pdf" download="cv-jacques-caradi.pdf">Mon C.V</a>
            
        </div>
    </div>

</nav>
routerLinkActive="active"