<div class="contain-form">
   <div class="formulaire">
    <h1 class="title-form"><span class="numero">03.</span>Portfolio <span class="trait"></span> </h1>
       <p>
           Je suis intéréssé par des opportunité en freelance. Toutefois si vous avez d'autre proposition,
            hesité pas à me contacter via le formulaire.
       </p>
       <form>
           <div class="form-group">
               <label>Nom</label>
               <input type="text">
           </div>
           <div class="form-group">
               <label>Email</label>
               <input type="email">
           </div>
           <div class="form-group">
               <label>Sujet</label>
               <input type="text">
           </div>
           <div class="form-group">
               <textarea name="Message"cols="30" rows="10"></textarea>
           </div>
           <button class="btn">Envoyer</button>
       </form>
   </div>
   <div class="contain-map">
       Ici la map
   </div>
</div>
