.contain-home {
  background: var(--primary);
  width: calc(100vw - 8rem);
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--secondary);
  .content-text {
    margin-left: 20rem;
    .title {
      font-size: 1rem;
      color: var(--accent);
    }
    .name {
      font-size: 4rem;
      margin: 2rem 0;
      font-weight: 700;
    }
    .mini-pres {
      font-size: 1.3rem;
      width: 35rem;
      font-weight: 100;
      margin-bottom: 0.7rem;
    }
    .text-animation {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
    .btn {
      border: 1px solid var(--accent);
      border-radius: 4px;
      line-height: 1;
      cursor: pointer;
      padding: 1rem 1rem;
      background: transparent;
      transition: var(--transition);
      &:hover {
        background: var(--accent);
        opacity: 0.4;
      }
      a {
        text-decoration: none;
        color: var(--secondary);
        font-size: 2rem;
        font-weight: 700;
      }
    }
  }
}
