.contain-home {
  background: var(--primary);
  width: calc(100vw - 8rem);
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--secondary);
  .content-text {
    margin-left: 5rem;
    .title {
      font-size: 1rem;
      color: var(--accent);
    }
    .name {
      font-size: 4rem;
      margin: 2rem 0;
      font-weight: 700;
    }
    .mini-pres {
      font-size: 1.3rem;
      width: 35rem;
      font-weight: 100;
      margin-bottom: 0.7rem;
    }
    .text-animations {
      font-size: 1.5rem;
    }
  }
}
